<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/main.css" />
        <script src="/public/js/bootstrap.min.js"></script>
    </head>
    <body>
        <%- include('shared/menu') %>
        <div class="container">
            <a class="btn btn-danger pull-right" href="/">Retour</a>
            <h1>Ajouter une personne</h1>

            <div class="col-md-4">
              <form method="post" action="/add">
                <div class="form-group row">

                  <label for="inputGender" class="col-form-label">Gender</label>
                  <div class="radio">
                    <label><input type="radio" name="optradio" value="Male">Male</label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="optradio" value="Female">Female</label>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputFirstname" class="col-form-label">Firstname</label>
                  <input type="text" name="user[firstname]" id="inputFirstname" class="form-control" >
                </div>

                <div class="form-group row">
                  <label for="inputLastname" class="col-form-label">Lastname</label>
                  <input type="text" name="user[lastname]" id="inputLastname" class="form-control" >
                </div>

                <div class="form-group row">
                  <label for="inputEmail" class="col-form-label">Email</label>
                  <input type="text" name="user[email]" id="inputEmail" class="form-control" >
                </div>

                <div class="form-group row">
                  <label for="inputCompany" class="col-form-label">Company</label>
                  <input type="text" name="user[company]" id="inputCompany" class="form-control" >
                </div>

                <div class="form-group row">
                  <label for="inputIP" class="col-form-label">IP</label>
                  <input type="text" name="user[ip]" id="inputIP" class="form-control" >
                </div>

                <div class="form-group row">
                  <label for="inputAge" class="col-form-label">Age</label>
                  <input type="number" name="user[age]" id="inputAge" class="form-control" >
                </div>

                <div class="form-group row">
                  <button type="submit" class="btn btn-primary">Créer</button>
                </div>
              </form>

          </div>
        </div>
    </body>
</html>
