<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/main.css" />
        <script src="/public/js/bootstrap.min.js"></script>
    </head>
    <body>
        <%- include('shared/menu') %>
        <div class="container">
            <a class="btn btn-danger pull-right" href="/">Retour</a>
            <h1>Ajouter une personne</h1>
        </div>
    </body>
</html>
