<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/public/css/main.css" />
        <script src="/public/js/bootstrap.min.js"></script>
    </head>
    <body>
        <%- include('shared/menu') %>
        <div class="container">
            <a class="btn btn-danger pull-right" href="/">Retour</a>
            <h1>Hommes entre 20 et 40 ans travaillant chez FB ou Insta</h1>
            <% personTest.forEach(function(p) { %>
                <li><%= p.firstname + ' ' + p.lastname %></li>
            <% }); %>
        </div>


    </body>
</html>
